# Unity GitIgnore Cleanup
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Meta files
/[Ll]ibrary/*.meta
/[Tt]emp/*.meta
/[Oo]bj/*.meta

# IDE files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.db
.vs/
.idea/
.vsconfig

# OS files
.DS_Store
Thumbs.db

# Builds
*.apk
*.aab
*.unitypackage